@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');


/*FONTS*/
$roboto:'Roboto', sans-seriff; 
$roboto-slab: 'Roboto Slab', serif;

/*COLORS*/
$body-color:#f9f9f9;
$red:#e82e34;
$border-color:#dee1e8;
$extra-dark-blue:#041c44;
$dark-blue:#105aa3;
$medium-blue:#326c96;
$small-blue:#48a8f1;
$light-blue:#cbe4f9;
$yellow:#fac937;
$white:#fff;
$dark-grey:#898b8f;
$grey:#f9f9f9;

