@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');


/*FONTS*/
$roboto:'Roboto', sans-seriff; 
$roboto-slab: 'Roboto Slab', serif;

/*COLORS*/
$body-color:#f9f9f9;
$dark-blue:#033970;
$medium-blue:#286acc;
$light-blue:#59b0f2;
$yellow:#fac937;
$white:#fff;
$grey:#b8babc;

