@import './src/sass/_variables';

.tabs {
    font-family: $roboto-slab;
    div {
        color: $small-blue;
    }
    .active {
        div{
            color: $dark-blue;
            border-bottom: 1px solid $dark-blue;
        }
    }
}