
<H1>HOTEL 
  <span> Mieres del Camín Apartamentos</span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
</H1>
<ul class="services-list"> 
  <li class="service-element" *ngFor="let n of list" (click)="select(n)" [ngClass]="{active: isActive(n)}">
    <h4 class="service-title">{{n.title}}</h4>
    <ul  class="services-props">
        <li class="props-title" *ngFor="let p of n.regimen">
          <h5 class="props-title">{{p}}</h5>
        </li>
        <div class="select-service">
          <div class="pretty p-default p-round p-thick">
            <input type="checkbox" />
            <div class="state p-success-o">
                <label>Elegir régimen</label>
            </div>
          </div>
        </div>
    </ul>
  </li>

  
</ul>
