
<div class="extra-services"> 
  <span class="bg-red">EXCLUSIVOS HOTELES.COM</span>
  <li>
    <a href="#" (click)="show=!show">Mejora tu estancia <span>Opcional</span></a> 
    <section class="flex-container" *ngIf="show">
      <div class="card flex-container">
          <img src="assets/img/yoga.jpg" alt="" class="flex-item">
          <div class="flex-item box-service" ng-show = "IsVisible">
            <h6 class="">
              Olvídese de la rutina
            </h6>
            <p class="">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
               ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <a href="#" (click)="hide=!hide">Más información y condiciones</a>
          </div>
          <footer>
            
            <section *ngIf="hide">
              <h6>Incluye</h6>
              <div class="ul">
                  <ul class="li">
                      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Maxime nesciunt eum harum adipisci in officiis enim voluptatibus rerum perferendis, 
                        repudiandae architecto quidem rem facilis porro doloremque beatae sequi optio maiores?
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam tenetur mollitia officia voluptate expedita, placeat dolores eum illo. Repudiandae laboriosam cumque doloribus voluptatum? Alias, sed unde est consectetur reiciendis odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vero quis ipsam ipsa quas atque eos magni, quibusdam impedit labore. Nam est recusandae explicabo, eius tenetur sed ratione necessitatibus a!
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni tenetur explicabo, quis fuga temporibus inventore voluptate laudantium odit nostrum molestiae voluptates, dolorem officiis obcaecati? Laboriosam aut dolorem quae inventore sunt!</li>
                    </ul>
                <ul class="li">
                    <li>Lorem ipsdipisci in officiis enim voluptat</li>
                    <li>Lorem ipsdipisci in officiis enim voluptat</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam tenetur mollitia officia voluptate expedita, placeat dolores eum illo. Repudiandae laboriosam cumque doloribus voluptatum? Alias, sed unde est consectetur reiciendis odit.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vero quis ipsam ipsa quas atque eos magni, quibusdam impedit labore. Nam est recusandae explicabo, eius tenetur sed ratione necessitatibus a!
                    </li>
                  </ul>
                  <ul class="li">
                      <li>Lorem ipsdipisci in officiis enim voluptat</li>
                      <li>Lorem ipsdipisci in officiis enim voluptat</li>
                    </ul>
              </div>
              <p>Valores no acumulables aotrs promos similares</p>
            </section>
          </footer>
      </div>
    </section>
  </li>
</div>